<div id="content">
    <h1>kpt system</h1>
    <div>
        <strong>kpt</strong> is a kit pkg transfering system.
    </div>
    <h3>Find kit apps</h3>
    <ul>
        <li><%= link_to "All apps", apps_path, class: 'kit-hyperlink' %></li>
    </ul>
    <h3>Accounts service</h3>
    <ul>
        <li><%= link_to "User registration", new_user_path, class: 'kit-hyperlink' %></li>
        <li><%= link_to "Log in", login_path, class: 'kit-hyperlink' %></li>
    </ul>
</div>