/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
    background: #f0f0f0;
    border-bottom: 1px solid #c0c0c0;
    font-size: 20px;
}

header .header-logo {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: dodgerblue;
}

header .kit-right {
    color: #909090;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

header a:hover {
    background-color: #e0e0e0;
    text-decoration: underline;
}

h1 {
    font-size: 24px;
}

#content {
    padding: 0 10px;
    line-height: 1.75;
}

.error {
    background: #ffe0e5;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
}

.notice {
    background: #e0e0ff;
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
}
